* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.heading {
    min-height: 1024px;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-style: cover;
    background-size: cover;

    &__top {
        padding-top: 217px; 
    }

    &__title {
        max-width: 750px;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
        margin-bottom: 32px;
    }

    &__text{
        max-width: 481px;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 44px;
    }

    &__button {
        font-family: "Montserrat", sans-serif;
        background: #9C0332;
        border-radius: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        width: 234px;
        height: 48px;

        &:hover {
            background: #EB443F;
            transition: 1s;
        }
    }
}    

.games {
    min-width: 343px;
    min-height: 556px;
    background-image: url(img/background_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-style: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;

    &__link {
        max-width: 378px;
        max-height: 100%;
        display: block;
        position: relative;
        border: 3px solid transparent;
        
        &:hover {
            border: solid #44D2FF;
            border-radius: 16px;
        } 

        p {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
            position: absolute;
            left: 32px;
            bottom: 32px;
        }
    }
}

.seasons {
    min-height: 800px;
    background-image: url(img/background_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-style: cover;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;


        &__title {
            max-width: 377px;
            font-weight: 700;
            font-size: 48px;
            line-height: 59px;
            color: #FFFFFF;
            margin-bottom: 32px;
            }

        &__text{
            max-width: 584px;
            font-weight: 300;
            font-size: 18px;
            line-height: 32px;
            color: #FFFFFF;
            margin-bottom: 32px;
            }

        &__button {
            font-family: "Montserrat", sans-serif;
            background: #9C0332;
            border-radius: 30px;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            width: 234px;
            height: 48px;

            &:hover {
                background: #EB443F;
                transition: 1s;
                }
        }
    }
   
@import 'mobile';
